<!DOCTYPE html>
<html>
<head>
    <title>Sales Analytics Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>




<script>
async function loadDailySales() {
    const res = await fetch("/sales/daily-trend");
    const data = await res.json();

    const labels = data.map(d => d.date);
    const totals = data.map(d => d.revenue);

    new Chart(document.getElementById("dailySalesChart"), {
        type: "line",
        data: {
            labels: labels,
            datasets: [{
                label: "Daily Sales",
                data: totals
            }]
        }
    });
}

async function loadCategorySales() {
    const res = await fetch("/sales/by-category");
    const data = await res.json();

    const labels = data.map(d => d.category);
    const totals = data.map(d => d.revenue);

    new Chart(document.getElementById("categoryChart"), {
        type: "bar",
        data: {
            labels: labels,
            datasets: [{
                label: "Revenue by Category",
                data: totals
            }]
        }
    });
}

loadDailySales();
loadCategorySales();
</script>

<script>
async function loadSummary() {
    const res = await fetch("/sales/summary");
    const data = await res.json();

    document.getElementById("orders").innerText = data.total_orders;
    document.getElementById("quantity").innerText = data.total_quantity;
    document.getElementById("revenue").innerText = data.total_revenue;
}

loadSummary();
</script>



<body>

<div class="navbar">
    📊 Sales Analytics Dashboard
    <a href="/docs">API Docs</a>
</div>

<h2>Sales Overview</h2>

<div style="display:flex; gap:20px; margin-bottom:30px;">
    <div class="card"><h3>Total Orders</h3><p id="orders">0</p></div>
    <div class="card"><h3>Total Quantity</h3><p id="quantity">0</p></div>
    <div class="card"><h3>Total Revenue</h3><p id="revenue">0</p></div>
</div>

<div class="container">
    <h2>Sales Analytics</h2>

<canvas id="dailySalesChart" height="50"></canvas>

<br><br>

<canvas id="categoryChart" height="50"></canvas>

    <div class="grid">

        <a href="/products" class="card">
            📦 Products
        </a>

        <a href="/sales/summary" class="card">
            💰 Sales Summary
        </a>

        <a href="/top-products" class="card">
            🏆 Top Products
        </a>

        <a href="/sales/by-category" class="card">
            📊 Category Revenue
        </a>

        <a href="/inventory/low-stock" class="card">
            ⚠️ Low Stock
        </a>

    </div>
</div>

</body>
</html>
