<!DOCTYPE html>
<html>
<head>
    <title>Sales Analytics Dashboard</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/static/style.css">

    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

<div class="navbar">
    📊 Sales Analytics Dashboard
    <a href="/docs">API Docs</a>
</div>

<div class="container">

<h2>Sales Overview</h2>

<!-- Cards -->
<div class="cards">
    <div class="card">
        <h3>Total Orders</h3>
        <p id="orders">0</p>
    </div>

    <div class="card">
        <h3>Total Quantity</h3>
        <p id="quantity">0</p>
    </div>

    <div class="card">
        <h3>Total Revenue</h3>
        <p id="revenue">0</p>
    </div>
</div>

<h2>Sales Analytics</h2>

<div class="chart-container">
    <canvas id="dailySalesChart"></canvas>
</div>

<br>

<div class="chart-container">
    <canvas id="categoryChart"></canvas>
</div>

<h2>Quick Access</h2>

<div class="grid">
    <a href="/products" class="card">📦 Products</a>
    <a href="/sales/summary" class="card">💰 Sales Summary</a>
    <a href="/top-products" class="card">🏆 Top Products</a>
    <a href="/sales/by-category" class="card">📊 Category Revenue</a>
    <a href="/inventory/low-stock" class="card">⚠️ Low Stock</a>
</div>

</div>

<!-- Scripts at bottom -->

<script>
async function loadSummary() {
    const res = await fetch("/sales/summary");
    const data = await res.json();

    document.getElementById("orders").innerText = data.total_orders;
    document.getElementById("quantity").innerText = data.total_quantity;
    document.getElementById("revenue").innerText = data.total_revenue;
}

async function loadDailySales() {
    const res = await fetch("/sales/daily-trend");
    const data = await res.json();

    new Chart(document.getElementById("dailySalesChart"), {
        type: "line",
        data: {
            labels: data.map(d => d.date),
            datasets: [{
                label: "Daily Sales",
                data: data.map(d => d.revenue)
            }]
        }
    });
}

async function loadCategorySales() {
    const res = await fetch("/sales/by-category");
    const data = await res.json();

    new Chart(document.getElementById("categoryChart"), {
        type: "bar",
        data: {
            labels: data.map(d => d.category),
            datasets: [{
                label: "Revenue by Category",
                data: data.map(d => d.revenue)
            }]
        }
    });
}

loadSummary();
loadDailySales();
loadCategorySales();
</script>

</body>
</html>
